version: '2'

services:
    web:
        container_name: blog-php-web
        build: .
        ports:
            - "80:80"
        volumes:
            - ./www:/var/www/html
        links:
            - db:db
    db:
        container_name: blog-php-db
        image: mysql
        volumes:
            - ./mysql-dump:/docker-entrypoint-initdb.d
        ports:
            - "3306:3306"
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: BlogPHP
            LANG: C.UTF-8
        command: ['--character-set-server=utf8mb4', '--collation-server=utf8mb4_unicode_ci']
    myadmin:
        container_name: blog-php-myadmin
        image: phpmyadmin/phpmyadmin
        ports:
            - "8080:80"
        links:
            - db:db
    mailhog:
        container_name: blog-php-mailhog
        image: mailhog/mailhog:latest
        restart: always
        ports:
        - 1025:1025
        - 8025:8025