.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*-------Utilities--------*/
}

.main .header-image {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .mainblock {
  width: clamp(500px, 65%, 90%);
  margin-top: 100px;
  margin-bottom: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.main .mainblock.no-margin-top {
  margin-top: 0;
}

.main .mainblock .container-element {
  background-color: #7D84B2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.main .mainblock .container-element.medium-dark {
  background-color: #808BBC;
}

.main .mainblock .container-element.block {
  display: block;
}

.main .mainblock .container-element--full {
  grid-column: span 4;
  height: 450px;
  width: 100%;
}

.main .mainblock .container-element--full.unconstrained {
  height: auto;
}

.main .mainblock .container-element--full .img-container {
  width: 50%;
  position: relative;
  overflow: hidden;
}

.main .mainblock .container-element--full .img-container .image {
  min-height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .mainblock .container-element--full .content-box {
  width: 50%;
}

.main .mainblock .container-element--half {
  grid-column: span 2;
  height: 550px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .mainblock .container-element--half .img-container {
  width: 100%;
  height: 50%;
  overflow: hidden;
  position: relative;
}

.main .mainblock .container-element--half .img-container .image {
  width: 100%;
}

.main .mainblock .container-element--half .content-box {
  height: 50%;
}

.main .mainblock .container-element .content-box {
  padding: 25px;
  color: #D9DBF1;
}

.main .mainblock .container-element .content-box--full {
  width: 100%;
}

.main .mainblock .container-element .content-box.pad-right-larger {
  padding-right: 70px;
}

.main .mainblock .container-element .more {
  color: #DBF4A7;
  text-decoration: none;
  position: absolute;
  bottom: 25px;
  right: 25px;
  border: none;
  background: none;
}

.main .mainblock .container-element .more:hover {
  opacity: .6;
}

.main .input-field {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background: #D9DBF1;
  border: none;
  border-bottom: 5px solid #D9DBF1;
  -webkit-transition: .3s;
  transition: .3s;
  outline: none;
}

.main .input-field:focus {
  border-bottom: 5px solid #DBF4A7;
}

.background-dark {
  background-color: #7077A6;
}

.background-medium-dark {
  background-color: #808BBC;
}

.background-medium {
  background-color: #8E9DCC;
}

.background-green {
  background-color: #DBF4A7;
}

.background-red {
  background-color: #F2A7A7;
}

.background-yellow {
  background-color: #F2DBA7;
}

.text-color-light {
  color: #D9DBF1;
}

.text-color-green {
  color: #DBF4A7;
}

.text-color-red {
  color: #F2A7A7;
}

.text-color-yellow {
  color: #F2DBA7;
}

.link-color-light {
  color: #D9DBF1;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.link-color-light:hover {
  opacity: 0.7;
}

.link-color-green {
  color: #DBF4A7;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.link-color-green:hover {
  opacity: 0.7;
}

.link-color-red {
  color: #F2A7A7;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.link-color-red:hover {
  opacity: 0.7;
}

.link-color-yellow {
  color: #F2DBA7;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.link-color-yellow:hover {
  opacity: 0.7;
}
/*# sourceMappingURL=style.css.map */