$green: #dbf4a7;
$red: #f2a7a7;
$yellow: #f2dba7;
$light: #d9dbf1;
$medium: #8e9dcc;
$medium-dark: #808bbc;
$dark: #7d84b2;
$very-dark: #7077a6;

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 87vh;
    
    .header-image {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    .mainblock {
        width: clamp(385px, 65%, 90%);
        margin-top: 100px;
        margin-bottom: 100px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;

        @media screen and (max-width: 800px) {
            display: block;

            &>* {
                margin-top: 20px;
            }
        }
            
        
        &.no-margin-top {
            margin-top: 0;
        }

        .container-element {
            background-color: $dark;
            display: flex;
            position: relative;

            &.medium-dark {
                background-color: $medium-dark;
            }

            &.block {
                display: block;
            }


            &--full {
                grid-column: span 4;
                height: 450px;
                width: 100%;
                &.unconstrained {
                    height: auto;
                }

                .img-container {
                    width: 50%;
                    position: relative;
                    overflow: hidden;

                    .image {
                        min-height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }

                .content-box {
                    width: 50%;
                }

                @media screen and (max-width: 800px) {
                    grid-column: span 4;
                    flex-direction: column;
                    height: 550px;

                    .img-container, .content-box {
                        width: 100%;
                     
                    }
                }
            }

            &--half {
                grid-column: span 2;
                height: 550px;
                flex-direction: column;

                .img-container {
                    width: 100%;
                    height: 50%;
                    overflow: hidden;
                    position: relative;

                    .image {
                        width: 100%;
                    }
                }

                .content-box {
                    height: 50%;
                }

                @media screen and (max-width: 800px) {
                    grid-column: span 4;

                    .img-container {
                        height: auto;
                    }
                }
            }

            .content-box {
                padding: 25px;
                color: $light;
                
                &--full {
                    width: 100%;
                }

                &.pad-right-larger {
                    padding-right: 70px;
                }
            }

            .more {
                color: $green;
                text-decoration: none;
                position: absolute;
                bottom: 25px;
                right: 25px;
                border: none;
                background: none;
                &:hover {
                    opacity: .6;
                }
            }
        }
    }

    /*-------Utilities--------*/
    .input-field {
        display: block;
        width: 100%;
        padding: 10px 15px;
        background: $light;
        border: none;
        border-bottom: 5px solid $light;
        transition: .3s;
        outline: none;

        &:focus {
            border-bottom: 5px solid $green;
        }
    }

}


.background-dark {
    background-color: $very-dark;
}

.background-medium-dark {
    background-color: $medium-dark;
}

.background-medium {
    background-color: $medium;
}

.background-green {
    background-color: $green;
}

.background-red {
    background-color: $red;
}

.background-yellow {
    background-color: $yellow;
}

.text-color-light {
    color: $light;
}

.text-color-green {
    color: $green;
}

.text-color-red {
    color: $red;
}

.text-color-yellow {
    color: $yellow;
}

.link-color-light {
    color: $light;
    text-decoration: none;
    transition: .3s;
    &:hover {
        opacity: 0.7;
    }
}

.link-color-green {
    color: $green;
    text-decoration: none;
    transition: .3s;
    &:hover {
        opacity: 0.7;
    }
}

.link-color-red {
    color: $red;
    text-decoration: none;
    transition: .3s;
    &:hover {
        opacity: 0.7;
    }
}

.link-color-yellow {
    color: $yellow;
    text-decoration: none;
    transition: .3s;
    &:hover {
        opacity: 0.7;
    }
}