$green: #DBF4A7;
$red: #F2A7A7;
$yellow: #F2DBA7;
$light: #D9DBF1;
$medium: #8E9DCC;
$dark: #7D84B2;

.main {
    display: flex;
    justify-content: center;

    .mainblock {
        width: clamp(500px, 65%, 90%);
        margin-top: 100px;
        margin-bottom: 100px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;

        .container-element {
            background-color: $dark;
            display: flex;
            position: relative;

            &.block {
                display: block;
            }


            &--full {
                grid-column: span 4;
                height: 450px;
                width: 100%;

                .img-container {
                    width: 50%;
                    position: relative;
                    overflow: hidden;

                    .image {
                        height: 100%;
                    }
                }

                .content-box {
                    width: 50%;
                }
            }

            &--half {
                grid-column: span 2;
                height: 550px;
                flex-direction: column;
                .img-container {
                    width: 100%;
                    height: 50%;
                    overflow: hidden;
                    position: relative;

                    .image {
                        width: 100%;
                    }
                }

                .content-box {
                    height: 50%;
                }
            }

            .content-box {
                padding: 25px;
                color: $light;
            }

            .more {
                color: $green;
                text-decoration: none;
                position: absolute;
                bottom: 25px;
                right: 25px;
                &:hover {
                    opacity: .6;
                }
            }
        }
    }

}